.DS_Store
.idea
*.log
tmp/

dataset.csv
docs.txt
postings.txt
dictionary.txt
positions.txt
output.txt

nltk/
getopt/
numpy/
sklearn/
joblib/
numpy/
Stemmer/
libs/

temp-*.*

postings.txt

Pipfile

__pycache__
